

body, html {
    margin: 0px;
    height: 100%;
    
}

.head {
    height: 100px;
    border: 5px solid red;
    margin-bottom: 10px;
}

.main-container {
    width: auto;
    height: 80%;
    border: 5px solid blue;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.container {
    border: 5px solid red;
    margin: 10px;
}
.container.right {
    width: 27%;
}
.container.left {
    width: 27%;
}

.container.mid {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-img {
    max-width: 100%;
    max-height: 100%;
}


.container.inner.mid-top {
    height: 25%;
    display: flex;
    justify-content: center;
}

.container.inner.mid-top h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}



.container.inner.mid-middle {
    height: 70%;
    display: flex;
    justify-content: center;

}

.container.inner.mid-bottom {
    height: 5%;
    display: flex;
    justify-content: space-evenly;
}

.breed-select {
    width: 150px;
}





